<div>
  <div>
    <h1>TrackerBudget</h1>
    <%= image_tag 'budget-app.gif', size: "100x100", alt: "logo"%>
    <span>By Jaymelfah</span>
  </div>
  <% if user_signed_in? %>
    <p>Welcome <%= current_user.name %></p>
    <button>
      <%= link_to 'Categories', categories_path %>
    </button>
    <%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Log In', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>
</div>