<div>
<%= form_with model: [@category, @expenditure] do |form| %>
  <div>
   <%= form.text_field :name, placeholder: 'Name', required: true %>
  </div>
   <div>
   <%= form.number_field :amount, placeholder: 'Amount Spent in $', type: 'float', required: true %>
  </div>
  <div>
    <%= form.submit "Add Expenditure" %>
  </div>
<% end %>
</div>
<div class="absolute bottom-0 flex flex-col gap-6 w-full">
    <%= link_to '<i class="fa-solid fa-circle-chevron-left"></i>'.html_safe, category_path(@category.id), class: "text-3xl back"%>
</div>