<div>
<%= form_with model: @category do |form| %>
  <div>
   <%= form.text_field :name, placeholder: 'Category name', required: true %>
  </div>
  <div>
    <%= form.label :icon, 'Select Icon:' %>
    <%= form.select :icon, [['Investment', 'earning.png'], ['Health', 'hospital-building.png'],
    ['Shopping', 'shopping-bag.png'], ['Sports', 'sports.png'], ['Movies', 'popcorn.png'], ['Travel', 'transportation.png'],
    ['Others', 'more.png']], placeholder: 'Icon' %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>
</div>
<div class="absolute bottom-0 flex flex-col gap-6 w-full">
    <%= link_to '<i class="fa-solid fa-circle-chevron-left"></i>'.html_safe, categories_path, class: "text-3xl back"%>
</div>